
@font-face {
	font-family: "AnjaEliane";
    src: url(font/AnjaEliane.ttf);
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html, body {
    height: 100%;
}

body {
    background: #222222;
}
header {
    background: #222222;
    color: #ffffff;
    padding: 0.5rem;
}
header h1 {
	font-family: "AnjaEliane";
	padding-left: 2rem;
	font-weight: 300;
	margin: 0;
    font-size: 2.5rem;
    padding: 0.5rem;
    border: 1rem;
}
nav {
	display: flex;
	align-items: center;
    color: #ffffff;
}
nav ul {
	margin-left: auto;
	list-style: none;
	display: flex;
	gap: 1rem;
}
nav a {
    color: #ffffff;
    text-decoration: none;
    font-weight: 700;
    font-family: Arial, Helvetica, sans-serif;
    padding-right: 1rem;
}

.split-container {
    display: flex;
    height: 100vh;
    width: 100%;
    overflow: hidden; 
}
.label {
    display: inline-block;
    font-size: 0.85rem;
    letter-spacing: 2px;
    margin-bottom: 2.5rem;
    border-bottom: 1px solid #c5a059;
    padding-bottom: 5px;
    color: #161616;
}
.image-side,
.content-side {
    min-height: 0;
}
.image-side {
    flex: 1;
    background-color: #f0f0f0;
}

.image-side img {
    width: 100%;
    height: 100%;
    display: block;
}

img {
    width: 100%;
    height: 280px; 
    object-fit: cover;
    display: block;
}
.content-side {
    flex: 1;
    background-color: #f8f8f8; 
    font-family: 'Helvetica', Arial, sans-serif;
    color: #161616;
    display: flex;
    align-items: center;
    padding: 4% 6%; 
    overflow: auto; 
}

.content-wrapper {
    max-width: 500px;
   }
.content-wrapper a {
    color: black;
    text-decoration: none;
   }
.label {
    display: inline-block;
    font-size: 0.85rem;
    letter-spacing: 2px;
    margin-bottom: 2.5rem;
    border-bottom: 1px solid #c5a059; 
    padding-bottom: 5px;
    color: #161616;
}

.main-text {
    font-size: 1.4rem;
    font-weight: 700;
    line-height: 1.5;
    margin-bottom: 3rem;
   
    
}
hr {
    border: none;
    border-top: 1px solid #191919; 
    margin: 0.5rem 0;
    width: 300px;
    padding-bottom: 1.5rem;
    margin-top: 2rem;
}
.sottotitolo {
    padding-top: 0.5rem;
    font-size: 0.9rem;
    color: #161616;
    line-height: 1.6;
    margin-bottom: 2.5rem;
    font-size: 1rem;
    font-weight: 100;
}

@media (max-width: 600px) {
    .split-container {
        height: auto;
    }
    .image-side {
        height: 50vh;
    }
    .content-side {
        padding: 60px 30px;
    }
}

@media (max-width: 768px) {
    .split-container {
        height: auto;
        display: block; 
    }

    .image-side {
        display: none; 
    }

    .content-side {
        width: 100%;    
        min-height: 80vh; 
        padding: 40px 20px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .content-wrapper {
        max-width: 100%; 
    }
}